h1{
	color:#900
}
h2{
color:#900;	


}
body{
background-color:#CCC;	
	
}

p{
    font-family:"Comic Sans MS", cursive;	
	font-size:15px;
}
.p1{
	font-family:"Comic Sans MS", cursive;
	font-size:18px;
}

.p2{
	font-family:"Comic Sans MS", cursive;
	font-size:15px;
}
h5{
color:#00C;	

}



